<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxj.book.mapper.BorrowMapper">
    <insert id="addBorrowLog">
        update book set count=count-1 where id=#{bookId};
        insert into borrow(user_id, book_id, borrow_date) values (
            (select id from user where username=#{username}),#{bookId}, now()
        );
    </insert>
    <update id="recive">
        update borrow set return_date=now() where user_id=#{userId} and book_id=#{bookId}
    </update>
    <delete id="deleteLog">
        delete from borrow where user_id=#{userId} and book_id=#{bookId}
    </delete>

    <select id="getAllLogs" resultType="com.hxj.book.entity.Log">
        select Bw.user_id userId,Bw.book_id bookId, Bw.borrow_date borrowDate,
        Bw.return_date returnDate, u.username username, b.name bookname from
        borrow Bw left join book b on Bw.book_id=b.id left join user u on
        Bw.user_id=u.id
    </select>
    <select id="getLogByBookIdAndUserName" resultType="java.lang.Integer">
        select user_id from borrow where book_id=#{bookId} and
        user_id=(select id from user where username=#{username}) and
        return_date is null;
    </select>
</mapper>
