<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxj.book.mapper.UserMapper">
    <insert id="addUser">
        insert into user(username, password, email) values(#{username}, #{password}, #{email});
    </insert>
    <update id="setUserEnabledorDisabled">
        update user set is_enabled=#{b} where id=#{id}
    </update>
    <update id="updateUserById">
        update user set
        <if test="username!=null">
            username=#{username},
        </if>
        <if test="password!=null">
            password=#{password},
        </if>
        <if test="email!=null">
            email=#{email}
        </if>
        where id=#{id}
    </update>

    <select id="findUserByUsernameAndPassword" resultType="com.hxj.book.entity.User">
        select * from user where username=#{username} and password=#{password}
    </select>

    <select id="findAll" resultType="com.hxj.book.entity.User">
        select * from user
    </select>

    <select id="findUserById" resultType="com.hxj.book.entity.User">
        select * from user where id=#{id}
    </select>
    <select id="selectUserByName" resultType="com.hxj.book.entity.User">
        select * from user where username=#{username}
    </select>

</mapper>
